.main {
  border-top  :.5px solid black;
  direction: rtl;
}
 
.main .header h1 {
  background: black;
  border-radius: 0.25em;
  color: white;
  direction: rtl;
}
 .address {
  float: left;
  font-size: 12px;
  font-style: normal;
  display: flex;
  direction: rtl;
  align-items: center;
  justify-content: center;
}
 .address p {
  margin: 0px;
  font-size: 12px;
  font-weight: 900;
}
.header span, .header img { display: block; float: right; height: 100%; margin: 5px;}
.header span { margin: 0 0 0em 0em; max-height: 25%; max-width: 60%; position: relative; }
.header img { max-height:20%; max-width: 20%; margin-right: 5px;}
.header:after { clear: both; content: ""; display: table; }
/* article */
.article h1 { clip: rect(0 0 0 0); position: absolute; }
.article .address { float: left; font-size: 125%; font-weight: bold; }
.article:after { clear: both; content: ""; display: table; }
/* .table */
.table { font-size: 75%; table-layout: auto; width: 100%; }
.table { border-collapse: separate; border-spacing: 2px; }
.th, .td { border-width: 1px; padding: .2em; position: relative; text-align: right; }
.th, .td { border-radius: 0.25em; border-style: solid; }
.th { background: rgb(241, 241, 241 ); border-color: #a1a1a1; }
.td { border-color: #a1a1a1;background: #ffffff; font-weight: 900; }
/* .table first-Table */
.table.firstTable { float: right; width: 70%; height: 10%;}
.table.second { float: right; width: 100%; height: 10%;}
.table.second th {  width: 80%; height: 10%;}
.table.second td {  float: center; display :flex ; align-items: center; justify-content: center; font-weight: 900;}
/* .table firstTable */



// .table.firstTable th { width: 20%; text-align: right; }
// .table.firstTable td { width: 100%;  text-align: right;}
// .table.firstTable span {font-size: 14px;}



// .aside h1 #notes { border: 1px solid 2px; border-width: 1px; margin: 0 0 1em; }
// .aside h1 #notes { border-color: #999; border-bottom-style: solid; border-bottom-width: 10%; font: bold 100% sans-serif;
//   font-size: 18px;
//   text-align: center;
//   text-transform: uppercase;
// }
.aside  {
  padding: 0px;
}
.aside > p {
  margin: 0px;
}
#notes {
  text-align: center;
}