@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    font-family: 'cairo';
}

@media print {
  html, body {
      margin: 8px !important;
      padding: 0 !important;
  }
}
.ant-form-item-explain-error {
  position : absolute!important ; 
  margin-bottom : 20px !important ; 
  right : 2px !important ;
  width : max-content !important
}
.ant-pagination { 
  direction: ltr !important;
}


  
  